apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: system-upgrade-controller
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/system/system-upgrade-controller/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: system-upgrade-controller-plans
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/system/system-upgrade-controller/plans
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
