apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: rook-ceph
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/system/rook-ceph/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster

