# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actions-runners
    namespace: gha
spec:
    interval: 30m
    chart:
        spec:
            chart: gha-runner-scale-set
            version: 0.12.0
            sourceRef:
                kind: HelmRepository
                name: actions-runner-controller
                namespace: flux-system
    install:
        remediation:
            retries: 3
    upgrade:
        remediation:
            strategy: rollback
            retries: 3
    dependsOn:
        - name: actions-runner-controller
          namespace: gha
    values:
        minRunners: 3
        maxRunners: 12
        githubConfigSecret: ENC[AES256_GCM,data:LtxMJzzC0sh88Er2AA==,iv:9tr4O3pCPf/Udj4LndI6TebyX2kJdZ0fZwDYaLbXq4g=,tag:NRik2NWsR5UoNJYGAQcIsA==,type:str]
        githubConfigUrl: https://github.com/trueforge-org
        controllerServiceAccount:
            name: actions-runner-controller
            namespace: gha
        containerMode:
            type: kubernetes
            kubernetesModeWorkVolumeClaim:
                accessModes:
                    - ReadWriteOnce
                storageClassName: openebs-hostpath
                resources:
                    requests:
                        storage: 32Gi
        template:
            spec:
                containers:
                    - name: runner
                      image: oci.trueforge.org/tccr/charts-ci
                      command:
                        - /home/runner/run.sh
                      env:
                        - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                          value: "false"
sops:
    shamir_threshold: 3
    kms: []
    gcp_kms: []
    azure_kv: []
    hc_vault: []
    age:
        - recipient: age1uzy27yg04slm0t4naapemy207fd7uh4lda70dxnh932e5dd8n55skgcdrq
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4NzJHNWoxN29QOThKbFFT
            SW4xSGRPeWEvN1YxeVA2ME9BQy9CemVlcG5FCndvSkpseTJDUlc3SmVKVGhGcG12
            TVhWZUs5d25XczhFNVZGSzdlN2lZcUkKLS0tIGszUWhnTklPRzVTWkdDWURuV0NJ
            NXpwOTlqcVB6MTVHeDdZdHRkaW9MSk0KYhRgfX2uDUc3IGjmdF+6eNRb2p/XXV4f
            irM6dRnRubcS8otnsQIp2HpVw1p3sZ2EyO/bBvlwzBOjU0VGZtPNcA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-04T12:34:00Z"
    mac: ENC[AES256_GCM,data:gyNUwabCCeCsrH/5vnm9nnK9iGofiBwiE5uFKxch9XrkeNM0AaGT6m8Lyb0Z4nD3eUIDZe3ZicA/gJGm7geJIGGLSNXPRvjogRVxJXTFPmNrkb2dgN4QdR5iVWxFiaLu9EEi9h37Xf3N0xAnuPR5p3vMMBa4EdoEhBNgoAvX/G4=,iv:Jzz4jEc5NxA+7JbO57zxO8knYiymn3kjVfwuft82wks=,tag:roXI7BI+rdPk7ReS4ZTX4g==,type:str]
    pgp: []
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.9.2
