# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: actions-runners
    namespace: gha
spec:
    interval: 30m
    chart:
        spec:
            chart: gha-runner-scale-set
            version: 0.13.0
            sourceRef:
                kind: HelmRepository
                name: actions-runner-controller
                namespace: flux-system
    install:
        remediation:
            retries: 3
    upgrade:
        remediation:
            strategy: rollback
            retries: 3
    dependsOn:
        - name: actions-runner-controller
          namespace: gha
    values:
        minRunners: 8
        maxRunners: 24
        githubConfigSecret: ENC[AES256_GCM,data:LtxMJzzC0sh88Er2AA==,iv:9tr4O3pCPf/Udj4LndI6TebyX2kJdZ0fZwDYaLbXq4g=,tag:NRik2NWsR5UoNJYGAQcIsA==,type:str]
        githubConfigUrl: https://github.com/trueforge-org
        controllerServiceAccount:
            name: actions-runner-controller
            namespace: gha
        containerMode:
            type: kubernetes
            kubernetesModeWorkVolumeClaim:
                accessModes:
                    - ReadWriteOnce
                storageClassName: openebs-hostpath
                resources:
                    requests:
                        storage: 32Gi
        template:
            spec:
                volumes:
                    - name: work
                      emptyDir: {}
                    - name: config
                      emptyDir: {}
                    - name: tmp
                      emptyDir: {}
                containers:
                    - name: runner
                      image: oci.trueforge.org/containerforge/actions-runner:2.331.0@sha256:289ef1cc8f806a23e67670d1eebda78da2adfb8c23a9a18c5024975fe41afcd7
                      command:
                        - /home/runner/run.sh
                      env:
                        - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                          value: "false"
                      volumeMounts:
                        - name: config
                          mountPath: /config
                        - name: work
                          mountPath: /work
                        - name: tmp
                          mountPath: /tmp
sops:
    shamir_threshold: 3
    age:
        - recipient: age1uzy27yg04slm0t4naapemy207fd7uh4lda70dxnh932e5dd8n55skgcdrq
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4NzJHNWoxN29QOThKbFFT
            SW4xSGRPeWEvN1YxeVA2ME9BQy9CemVlcG5FCndvSkpseTJDUlc3SmVKVGhGcG12
            TVhWZUs5d25XczhFNVZGSzdlN2lZcUkKLS0tIGszUWhnTklPRzVTWkdDWURuV0NJ
            NXpwOTlqcVB6MTVHeDdZdHRkaW9MSk0KYhRgfX2uDUc3IGjmdF+6eNRb2p/XXV4f
            irM6dRnRubcS8otnsQIp2HpVw1p3sZ2EyO/bBvlwzBOjU0VGZtPNcA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-21T11:44:37Z"
    mac: ENC[AES256_GCM,data:5G7h16OOnayZCthGUvp5Z7XaMLmyoLMsCk5agYKfnqI1X5qJ+a3bHMckzzsy8Hdg8iHNSmvzZkyrRgu1FewH+ZcuUv5Mb6n6jHh9VWBAXlYopbpOcRj17MN4z3AbdCrIVpEEPgvS691+Lr3+f7rOITRZj/8fk3ezWo/FFS8Xe1k=,iv:qKmNQG/4CLg9ixp6MlXd258p/7fY1l2K3elCbOmX7k4=,tag:l2wb8Nw4PGIZGBdIxBwhCg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.11.0
