age.agekey
*talconfig.json
talconfig.json
patches/sopssecret.yaml
*patches/sopssecret.yaml
*patches/all.yaml
patches/all.yaml
clustertool.exe
kubeconfig
*kubeconfig
clustertool
sopssecret.yaml
.DS_Store