age.agekey
talconfig.json
patches/sopssecret.yaml
deps/*
deps/cni/charts
deps/certificate-approver/charts
deps/cni/values.yaml
!deps/talhelper
!deps/encryption.sh
!deps/deploy-extras.sh
!deps/health.sh
!deps/approve-certs.sh
!deps/apply-kubeconfig.sh
!deps/cni
!deps/certificate-approver
!deps/certificate-approver/kustomization.yaml
clustertool.exe
