age.agekey
talconfig.json
patches/sopssecret.yaml
deps/*
!deps/talhelper
!deps/encryption.sh
!deps/deploy-extras.sh
!deps/health.sh
!deps/approve-certs.sh
!deps/cni
!deps/certificate-approver
deps/cni/charts
deps/certificate-approver/charts
deps/cni/values.yaml
deps/certificate-approver/values.yaml
