apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-main
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/flux-system/flux
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-monitoring
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/flux-system/monitoring
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-weave
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/flux-system/weave-gitops
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster