clusterName: ${CLUSTERNAME}
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.8.1
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.31.2
endpoint: https://${VIP}:6443
allowSchedulingOnControlPlanes: false
additionalMachineCertSans:
    - 127.0.0.1
    - ${VIP}
additionalApiServerCertSans:
    - 127.0.0.1
    - ${VIP}
# Warning: Also used in Cilium CNI values!
clusterPodNets:
    - ${PODNET}
clusterSvcNets:
    - ${SVCNET}
cniConfig:
    name: none
patches:
    - '@./patches/all.yaml'
nodes:
    - hostname: k8s-control-1
      ipAddress: ${MASTER1IP}
      controlPlane: true
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 1TB
      networkInterfaces:
        # suffix is the adapter mac adres.
        - interface: enxd83add59cce3
          addresses:
            - ${MASTER1IP}/24
          routes:
            - network: 0.0.0.0/0
              gateway: ${GATEWAY}
          vip:
            ip: ${VIP}
    - hostname: k8s-control-2
      ipAddress: ${MASTER2IP}
      controlPlane: true
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 1TB
      networkInterfaces:
        # suffix is the adapter mac adres.
        - interface: enxd83add598b01
          addresses:
            - ${MASTER2IP}/24
          routes:
            - network: 0.0.0.0/0
              gateway: ${GATEWAY}
          vip:
            ip: ${VIP}
    - hostname: k8s-control-3
      ipAddress: ${MASTER3IP}
      controlPlane: true
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 1TB
      networkInterfaces:
        # suffix is the adapter mac adres.
        - interface: enxd83add59cc24
          addresses:
            - ${MASTER3IP}/24
          routes:
            - network: 0.0.0.0/0
              gateway: ${GATEWAY}
          vip:
            ip: ${VIP}
    - hostname: k8s-worker-1
      ipAddress: 192.168.10.111
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 600GB
      schematic:
          customization:
              systemExtensions:
                  officialExtensions:
                      - siderolabs/amd-ucode
                      - siderolabs/iscsi-tools
                      - siderolabs/util-linux-tools
    - hostname: k8s-worker-2
      ipAddress: 192.168.10.121
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 600GB
      schematic:
          customization:
              systemExtensions:
                  officialExtensions:
                      - siderolabs/amd-ucode
                      - siderolabs/iscsi-tools
                      - siderolabs/util-linux-tools

    - hostname: k8s-worker-3
      ipAddress: 192.168.10.131
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 600GB
      schematic:
          customization:
              systemExtensions:
                  officialExtensions:
                      - siderolabs/amd-ucode
                      - siderolabs/iscsi-tools
                      - siderolabs/util-linux-tools
    - hostname: k8s-worker-4
      ipAddress: 192.168.10.141
      nameservers:
        - 192.168.10.200
        - 1.1.1.1
      installDiskSelector:
        size: <= 600GB
      schematic:
          customization:
              systemExtensions:
                  officialExtensions:
                      - siderolabs/qemu-guest-agent
                      - siderolabs/util-linux-tools
                      - siderolabs/iscsi-tools
controlPlane:
    patches:
        - '@./patches/controlplane.yaml'
    schematic:
        customization:
            systemExtensions:
                officialExtensions:
                    - siderolabs/util-linux-tools
                    - siderolabs/iscsi-tools
        overlay:
         image: siderolabs/sbc-raspberrypi
         name: rpi_generic
    machineFiles:
    - content: |
        [plugins."io.containerd.grpc.v1.cri"]
          enable_unprivileged_ports = true
          enable_unprivileged_icmp = true
        [plugins."io.containerd.grpc.v1.cri".containerd]
          discard_unpacked_layers = false
        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          discard_unpacked_layers = false
      permissions: 0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        noatime=True
        nodiratime=True
        rsize=131072
        wsize=131072
        nconnect=8
      permissions: 420
      path: /etc/nfsmount.conf
      op: overwrite
worker:
    patches:
        - '@./patches/worker.yaml'
    schematic:
        customization:
            systemExtensions:
                officialExtensions:
                    - siderolabs/util-linux-tools
                    - siderolabs/iscsi-tools
    machineFiles:
    - content: |
        [plugins."io.containerd.grpc.v1.cri"]
          enable_unprivileged_ports = true
          enable_unprivileged_icmp = true
        [plugins."io.containerd.grpc.v1.cri".containerd]
          discard_unpacked_layers = false
        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          discard_unpacked_layers = false
      permissions: 0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        noatime=True
        nodiratime=True
        rsize=131072
        wsize=131072
        nconnect=8
      permissions: 420
      path: /etc/nfsmount.conf
      op: overwrite
