apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
    name: prometheus-operator
    namespace: prometheus-operator
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truecharts.org
            chart: prometheus-operator
            version: 1.0.14
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values: {}
