apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rook-ceph-cluster
  namespace: flux-system
spec:
  interval: 10m
  path: clusters/main/kubernetes/core/rook-ceph/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: cluster

