---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: riven
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: riven
      version: 0.0.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                # forces the use of env vars to be always used!
                RIVEN_FORCE_ENV: "true"
                ZURG_URL: zurg.zurg.svc.cluster.local:9999
                # Set this to your rclone's mount `__all__` dir if using Zurg
                RIVEN_SYMLINK_RCLONE_PATH: "/mnt/zurg/__all__" 
                # This is the path that symlinks will be placed in
                RIVEN_SYMLINK_LIBRARY_PATH: "/mnt/dibrary" 
                RIVEN_DOWNLOADERS_REAL_DEBRID_ENABLED: "false"
                # set your real debrid api key
                RIVEN_DOWNLOADERS_REAL_DEBRID_API_KEY: "xxxxx"
                RIVEN_UPDATERS_PLEX_ENABLED: "false"
                RIVEN_UPDATERS_PLEX_URL: "http://plex.plex.svc.cluster.local:32400"
                # set your plex token"
                RIVEN_UPDATERS_PLEX_TOKEN: "xxxxx" 
                RIVEN_CONTENT_OVERSEERR_ENABLED: "false"
                RIVEN_CONTENT_OVERSEERR_URL: "http://overseerr.overseerr.svc.cluster.local:5055"
                # set your overseerr token
                RIVEN_CONTENT_OVERSEERR_API_KEY: "xxxxx"
                RIVEN_SCRAPING_TORRENTIO_ENABLED: "false"
                RIVEN_SCRAPING_ZILEAN_ENABLED: "true"
                RIVEN_SCRAPING_ZILEAN_URL: "http://zilean.zilean.svc.cluster.local:9999:8181"