apiVersion: kyverno.io/v2beta1
kind: ClusterPolicy
metadata:
  name: update-dind-args
  annotations:
    pod-policies.kyverno.io/autogen-controllers: none
    policies.kyverno.io/title: Update dind Container Args
    policies.kyverno.io/category: Other
    kyverno.io/kyverno-version: 1.10.0
    policies.kyverno.io/minversion: 1.10.0
    kyverno.io/kubernetes-version: "1.30"
spec:
  rules:
    - name: update-dind-args-rule
      match:
        any:
        - resources:
            kinds:
              - AutoscalingRunnerSet
      mutate:
        patchesJson6902: |
          - target:
              group: actions.github.com
              version: v1alpha1
              kind: AutoscalingRunnerSet
              name: "*"
              namespace: "*"
            patch: |-
              - op: replace
                path: /spec/template/spec/containers/1/args
                value:
                  - dockerd
                  - --host=unix:///var/run/docker.sock
                  - --group=$(DOCKER_GROUP_GID)
                  - --registry-mirror=http://spegel-registry.kube-system.svc.cluster.local:5000