creation_rules:
  - path_regex: config.*
    age: >-
      !!AGE!!
  - path_regex: cluster.*
    age: >-
      !!AGE!!
  - path_regex: patches/custom.*
    age: >-
      !!AGE!!
  - path_regex: talos.secret
    age: >-
      !!AGE!!
  - path_regex: age.key
    age: >-
      !!AGE!!
