creation_rules:
  - path_regex: config/.*\.ya?ml
    age: >-
      !!AGE!!
  - path_regex: cluster/.*\.ya?ml
    age: >-
      !!AGE!!
  - path_regex: patches/custom/.*\.ya?ml
    age: >-
      !!AGE!!
  - path_regex: talos.secret
    age: >-
      !!AGE!!
  - path_regex: age.key
    age: >-
      !!AGE!!